
<div [ngStyle]="{background: 'url(./assets/images/background.jpg)', 'height':'100%', 'background-position': 'center center', 'background-attachment': 'fixed', 'background-size':  'cover', 'background-repeat':  'no-repeat','background-color': '#999'}">

  <div class="message justify-content-center rounded-lg">
    <img src="./assets/images/eddins.png" style="width: 28%; border: 0px;">
    <br><br>
    <router-outlet></router-outlet>
    <br>
    <img src="./assets/images/LogosMarcas.jpg" style="width: 80%; border: 0px;">
  </div>
  
  
  <nav class="navbar fixed-bottom navbar-light  justify-content-center navbar-expand-sm py-0" style="background-color: rgba(228, 228, 228, .4); color: #ffffff; max-height: 28px;">
   <span class="navbar-text"><small>Desarrollado por <a href="https://fabsi.com.mx" target="_blank" >FABSI</a>  |  versión 1.6.6</small></span>
  </nav>
  
  </div>
  
  <div class="my-overlay" *ngIf="showOverlay">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>